body{
    background-color: rgb(228, 141, 231);
  }
  
  #calculadora{
    margin: 150px 538px;
    
  }
  
  .pantalla{
    width: 81%;
    height: 10%;
    background-color:white;
    border-radius: 6px;
    border: 4px solid rgb(214, 60, 219);
  }
  
  h1 ,h2{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2{
    color:rgb(182, 94, 185);
    margin-left: 10px;
  }
  
  h1{
    color: rgb(152, 38, 156);
    margin-left: 10px;
  }
  
  .botones{
    display: flex;
    flex-direction: row;
  }
  .operacion{
    background-color: rgb(152, 38, 156);
    color:white;
    width: 50px;
    height: 40px;
    margin: 2px 2px;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    font-size: 20px;
  
  }
  
  .numero{
    background-color: rgb(182, 94, 185);
    color:white;
    width: 50px;
    height: 40px;
    margin: 2px 2px;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .numerocero{
    background-color: rgb(182, 94, 185);
    color:white;
    width: 110px;
    height: 40px;
    margin: 2px 2px;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .operacionsuma{
    background-color: rgb(152, 38, 156);
    color:white;
    width: 50px;
    height: 84px;
    margin: 2px 2px;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    font-size: 20px;
  }
  
  
  .sumaeigual{
    display:flex;
    flex-direction: column;
  }
  
  button:hover{
    border: 2px solid white;
  }
  